html,
body{
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.fixed {
  position: fixed;
  z-index: 1000;
}

.background-1{
  background-color: #951B41;
}

.background-2{
  background-color: #EC524A;
}

.background-3{
  background-color: #bd9700;
}

.background-4{
  background-color: #465E41;
}

.background-5{
  background-color: #577084;
}

.background-6{
  background-color: #4B3635;
}

ul{
  list-style-type: none;
}

p{
  font-family: "Roboto Slab", sans-serif;
  margin: 0;
}


ol{
  font-family: "Roboto Slab", sans-serif;
}

.slideWrapper{
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.math{
  font-size: 1.4rem;
  margin: 10px 0;
}

.bulletList{
  list-style-type: disc;
}